services:
  whisper:
    build:
      context: .
      secrets:
        - HF_TOKEN
    image: whisper-offline
    container_name: whisper-server
    ports:
      - "8000:8000"
    environment:
      - HF_TOKEN=${HF_TOKEN}
      - FUNASR_URL=http://funasr:8000
    depends_on:
      - funasr
    restart: unless-stopped

  funasr:
    build:
      context: ./funasr-server
    image: funasr-server
    container_name: funasr-server
    ports:
      - "8001:8000"
    secrets:
      - HF_TOKEN
    environment:
      - HF_TOKEN=${HF_TOKEN}
    restart: unless-stopped

secrets:
  HF_TOKEN:
    file: ./hf_token.txt
