services:
  whisper:
    build:
      context: .
      secrets:
        - HF_TOKEN
    image: whisper-offline
    container_name: whisper-server
    ports:
      - "8000:8000"
    environment:
      - HF_TOKEN=${HF_TOKEN}
    restart: unless-stopped

secrets:
  HF_TOKEN:
    file: ./hf_token.txt
